# Node.js dependencies
node_modules/
npm-debug.log*

# Environment variables
.env

# Local database copies
/backups/
/docs/local-database.md

# Logs
logs/
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swp

# Build files
dist/
build/
__pycache__/
*.pyc

# Test files
dbtest.js

# Claude
CLAUDE.md
